MONGO_URL='your mongodb url'
PORT=8080
JWT_SECRET='your jwt secret'
EMAILFV=`your email`
PASSKEY='your email passkey'
CLIENT_ID=`your client id`
CLIENT_SECRET=`your client secret`
BACKEND_URL=`/api/google/callback`
CLIENT_URL=http://localhost:5173
SESSION_SECRET_KEY=12345678
CLOUD_NAME=your cloudinary cloud name
API_KEY=your cloudinary api key
API_SECRET=your cloudinary api secret
EMAIL_OF_DEVELOPER = [EMAIL_ADDRESS]'
RAZOR_API_KEY=your razor api key
RAZOR_API_SECRET=your razor api secret